<?xml version="1.0" encoding="UTF-8" ?>
<!-- Server configurational file -->
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <!-- Register TransactCAO class as client activated -->
        <activated type="TransactLib.TransactCAO, TransactLib" />
        <wellknown mode="Singleton" type="TransactLib.TransactWKOST, TransactLib" objectUri="StURI.rem" />	   
		    <wellknown mode="SingleCall" type="TransactLib.TransactWKOSC, TransactLib" objectUri="ScURI.rem" />
       </service>
       <channels>
          <channel port="13000" ref="http">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
         </channel>
       </channels>
    </application>
  </system.runtime.remoting>
</configuration>