<?xml version="1.0" encoding="UTF-8" ?>
<!-- Server configurational file -->
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <!-- Register TransactCAO class as client activated -->
        <activated type="TransactLib.TransactCAO, TransactLib" />
        <wellknown mode="Singleton" type="TransactLib.TransactWKOST, TransactLib" objectUri="StURI.rem" />	   
       </service>
       <channels>
          <channel port="13000" ref="http">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
         </channel>
       </channels>
    </application>
  </system.runtime.remoting>
  <!-- Enabling server trace log -->
  <system.diagnostics>
  <trace autoflush="true" indentsize="4">
    <listeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="server.log" />
      <remove name="Default" />
    </listeners>
  </trace>
  </system.diagnostics>
</configuration>