<configuration>
  <system.runtime.remoting>
    <application>
      <client url="http://localhost:13000">
        <activated type="TransactLib.TransactCAO, TransactLib" />
        <wellknown type="TransactLib.TransactWKOST, TransactLib" url="http://localhost:13000/StURI.soap" />
		    <wellknown type="TransactLib.TransactWKOSC, TransactLib" url="http://localhost:13000/ScURI.soap" />           
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
  