<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <!-- Register TransactCAO class as client activated -->
        <activated type="TransactLib.TransactCAO, TransactLib" />
        <wellknown mode="Singleton" type="TransactLib.TransactWKOST, TransactLib" objectUri="StURI.soap" />	   
		    <wellknown mode="SingleCall" type="TransactLib.TransactWKOSC, TransactLib" objectUri="ScURI.soap" />
       </service>
       <channels>
          <channel port="13000" ref="http" />
       </channels>
    </application>
  </system.runtime.remoting>
</configuration>